{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "tailwindStylesheet": "./src/app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva", "clsx"]
}
